<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UseLocalApi" value="false"/>
    <add key="ApiBaseUrl" value="http://localhost:4040"/>
    <add key="ApiKey" value="52e3e1c794f27f1a68e1fbc8"/>
    <add key="ExampleVoucherCode" value="CM73-UHP2-8SW5"/>
    <add key="ExampleDepotVoucherCode" value="FA5MTMM25B24"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>